<%- include('./include/head.ejs') %>
    </head>

    <body>
        <div class="container-scroller">

            <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                    <div class="me-3">
                        <button class="navbar-toggler navbar-toggler align-self-center d-lg-none" type="button" data-bs-toggle="minimize">
                            <span class="icon-menu"></span>
                        </button>
                    </div>
                    <div>
                        <a class="navbar-brand brand-logo" href="/">
                            <i class="mdi mdi-food-fork-drink menu-icon" style="font-size: 3rem;"></i>
            
            
                            <div>
                                <span>Canteen</span> <span>Management</span> <span>System</span>
                            </div>
                        </a>
                        <a class="navbar-brand brand-logo-mini" href="/">
            
                            <i class="mdi mdi-food-fork-drink menu-icon"></i>
            
                        </a>
                    </div>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-top " style="justify-content: space-between;">
                   
                   <% if(path==='/' || path === '/admin/all-food'){  %>
                    <div class="d-flex"  style="align-items: center;justify-content: center;">
                        <form action="<%= path %>" method="get">
                          <div class="input-group input-group-sm">
                            <input class="form-control"  type="text" id="search" name="search" placeholder="'search' and enter" autocomplete="off" />
                          </div>
                        </form>
                        <a class="btn btn-primary " style="margin-left: 10px;"  href="/">All Foods</a>
                      </div>
                      <% } %>
                    <button class="navbar-toggler navbar-toggler-right d-none align-self-center " type="button"
                        data-bs-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>
                <div class="container-fluid page-body-wrapper">


                        <!-- main -->
                        <div class="main-panel" style="width:100%;">
                            <div class="content-wrapper">
                                <div class="row">

                                    <div class="tab-content tab-content-basic">

                                        <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                            aria-labelledby="overview">

                                            <div class="row">

                                                <div class="col-lg-12  grid-margin stretch-card">

                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h2 class="text-center">Page Not Found!

                                                            </h2>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
        </div>
        <!-- content-wrapper ends -->

        <%- include('./include/footer.ejs'); %>
            <!-- partial -->
            </div>
            <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
            </div>
            <!-- container-scroller -->


            <%- include('./include/end.ejs');%>